/*黑白图像
*/
img{

  filter: grayscale(100%);

  -webkit-filter: grayscale(100%);

  -moz-filter: grayscale(100%);

  -ms-filter: grayscale(100%);

  -o-filter: grayscale(100%);

}
/**
 * 元素居中
 */
.middle{
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/**
 * 优化显示文本
 */
html {

  -moz-osx-font-smoothing: grayscale;

  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;

}
/**
 * 用css写三角形
 */
/* create an arrow that points up */

div.arrow-up {

  width:0px;

  height:0px;

  border-left:5px solid transparent;  /* left arrow slant */

  border-right:5px solid transparent; /* right arrow slant */

  border-bottom:5px solid #2f2f2f; /* bottom, add background color here */

  font-size:0px;

  line-height:0px;

}


/* create an arrow that points down */

div.arrow-down {

  width:0px;

  height:0px;

  border-left:5px solid transparent;

  border-right:5px solid transparent;

  border-top:5px solid #2f2f2f;

  font-size:0px;

  line-height:0px;

}


/* create an arrow that points left */

div.arrow-left {

  width:0px;

  height:0px;

  border-bottom:5px solid transparent;  /* left arrow slant */

  border-top:5px solid transparent; /* right arrow slant */

  border-right:5px solid #2f2f2f; /* bottom, add background color here */

  font-size:0px;

  line-height:0px;

}


/* create an arrow that points right */

div.arrow-right {

  width:0px;

  height:0px;

  border-bottom:5px solid transparent;  /* left arrow slant */

  border-top:5px solid transparent; /* right arrow slant */

  border-left:5px solid #2f2f2f; /* bottom, add background color here */

  font-size:0px;

  line-height:0px;

}
/**
 * css做幻灯片
 * <div class="ani"></div>
 */

.ani{
   width:480px;
   height:320px;
   margin:50px auto;
   overflow: hidden;
   box-shadow: 0 0 5px rgba(0,0,0,1);
   background-size:cover;
   background-position: center;
   -webkit-animation-name:"loops";
   -webkit-animation-duration:20s;
   -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes "loops"{
    0%{
     background: url(img/advert_1.jpg) no-repeat;
    }
    25%{
     background: url(img/advert_2.jpg) no-repeat;
    }
    50%{
     background: url(img/advert_3.jpg) no-repeat;
    }
    75%{
     background: url(img/advert_4.jpg) no-repeat;
    }
    100%{
     background: url(img/advert_5.jpg) no-repeat;
    }
}
/**
 * 渐变
 */
/* Firefox 3.6+ */
background: -moz-linear-gradient(top, #ace, #f96); 
/* Safari 4-5, Chrome 1-9 */ 
/* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
background: -webkit-gradient(linear,top,from(#ace),to(#f96));
/* Safari 5.1+, Chrome 10+ */
background: -webkit-linear-gradient(top, #ace, #f96);
/* Opera 11.10+ */
background: -o-linear-gradient(top, #ace, #f96);